.swsconfig
.Rproj.user
.Rhistory
.RData
inst/doc
rsconnect
usanotes2011.RData
tldata.RData
*.rds
.~lock*
tradeproc/vignettes/producingSet_new_cache
*.zip
*sws.yml
vignettes/some_analysis.R
vignettes/*_cpc.*
*.log
*.tex
*.sw[a-z]
./modules/complete_tf_cpc/sws.yml
