current: qa
all:
  share: /media/share
qa:
  certdir: path/to/qa/certs
  server: https://hqlqasws1.hq.un.fao.org:8181/sws
  token: abcdef0123456789
production:
  certdir: path/to/prod/certs
  server: https://hqlprswsas1.hq.un.fao.org:8181/sws
  token: 9876543210fedcba

